@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', serif;
    background: #E0F8FE;
}
@font-face {
    font-family: medallion-typeface;
    src: local(medallion-typeface);
}
h1 {
    font-family: medallion-typeface;
}